@import url('reset.css');
@import url('font.css');

*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(16, 1fr);
    aspect-ratio: 1 / 2;
    font-family: 'Phosphate', sans-serif;
}

.circle-text{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #FDF07E;
    justify-content: center;
    padding: 29px 96px;
}

.circle-text img{
    animation: rotate 3s linear infinite;
    animation-direction: reverse;
}

title{
    display: flex;
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #5D2B8A;
    color: #FDF07E;
    align-items: center;
    justify-content: center;
    font-size: clamp(55px, 20vw, 850px);
}

.spiral{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #5D2B8A;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.spiral img{
    animation: rotate 2s linear infinite;
    width: 160%;
    height: auto;
    transform-origin: center center;
}

@keyframes rotate{
    0% {transform: rotateZ(0deg);}
    25%{transform: rotateZ(90deg);}
    50%{transform: rotateZ(180deg);}
    75%{transform: rotateZ(270deg);}
    100%{transform: rotateZ(360deg);}
}

.small-poster{
    display: flex;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #A50000;
    justify-content: flex-end;
    overflow: hidden;
}

.small-poster img{
    animation: hand-motion 2s linear infinite;
    transform-origin: bottom right;
}

@keyframes hand-motion{
    0% {transform: rotateZ(0deg);}
    35%{transform: rotateZ(15deg);}
    75%{transform: rotateZ(-10deg);}
    100%{transform: rotateZ(0deg);}
}

.card{
    display: flex;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
    position: relative;
}

.bg{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: center;
}

.bg1 { 
  background-image: url('../assets/images/bg1.svg'); 
  animation: fade1 4s ease-in-out infinite;
}

.bg2 { 
  background-image: url('../assets/images/bg2.svg'); 
  animation: fade2 4s ease-in-out infinite;
}

@keyframes fade1 {
    0%   { opacity: 1; }
    40%  { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade2 {
    0%   { opacity: 0; }
    40%  { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 1; }
}

.chips{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: #FDF07E;
    perspective: 50%;
}

.chips img{
    width: 100%;
    animation: spin 2s linear infinite;
    transform-style: preserve-3d;
}

@keyframes spin{
    0% {transform: rotateY(0deg) scaleX(1);}
    25% {transform: rotateY(90deg) scaleX(0.1);}
    50% {transform: rotateY(180deg) scaleX(1);}
    75% {transform: rotateY(270deg) scaleX(0.1);}
    100% {transform: rotateY(360deg) scaleX(1);}
}

.percent-line{
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 10px 0px;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: #6CC5BD;
    color: #FDF07E;
    font-size: clamp(38px, 20vw, 600px);
    position: relative;
    white-space: nowrap;
}

.percent-line span{
    display: block;
    width: 100%; 
    animation: percent-line 3s linear infinite;
    position: relative;
}

.percent-line span:nth-child(1) {
  right: 0;
}

.percent-line span:nth-child(2){
    right: 100%;
}

@keyframes percent-line{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(0)}
}

.wheel{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 11;
    background-color: #B6370D;
    overflow: hidden;
}

.wheel img{
    position: relative;
    left: -75%;
    bottom: 0%;
    animation: rotate 3s linear infinite;
}

.question-line{
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 10px 0px;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: #F7CA4B;
    color: #A50000;
    font-size: clamp(38px, 20vw, 600px);
    letter-spacing: 0.12em;
    position: relative;
    white-space: nowrap;
}

.question-line span{
    display: block;
    width: 100%; 
    animation: question-line 3s linear infinite;
    position: relative;
}

.question-line span:nth-child(1) {
  right: 0;
}

.question-line span:nth-child(2){
    right: 100%;
}

@keyframes question-line{
    0% {transform: translateX(0)}
    100% {transform: translateX(-100%)}
}

.suit{
    display: flex;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 11;
    background-color: #5D2B8A;
    padding: 15%;
}
.suit img{
    width: 100%;
}

.hand{
    display: flex;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 15;
    background-color: #B6370D;
    overflow: hidden;
}
.hand img{
    position: relative;
    left: 16%;
    bottom: 11%;
    width: 130%;
}

.balls{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 15;
    background-color: #6CC5BD;
    flex-wrap: wrap;
}
.balls img{
    width: 50%;
}

footer{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 15;
    grid-row-end: 17;
    background-color: #5D2B8A;
    color: #F7CA4B;
    justify-content: space-between;
    align-items: center;
    padding: 6%;
    gap: 5%;
    width: 100%;
    height: 100%;
}

footer img{
    position: relative;
    left: -3%;
    bottom: -2%;
    width: 43%;
    z-index: 0;
}

footer div{
    display: flex;
    flex-direction: column;
    max-width: 58%;
}

footer div p{
    font-family: 'Seymour One', sans-serif;
    font-size: clamp(20px, 20vw, 80px);
    text-align: end;
    white-space: normal;
    margin-left: auto;
}